h1 {
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
}
p {
  color: #607381;
}

.image {
  margin: auto;
}

img {
  height: 370px;
  width: 350px;
  border-radius: 0.375em;
  margin: auto;
  display: block;
}
@media screen and (orientation: portrait) {
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  p {
    text-align: justify;
  }
}
